        <!-- Template for BookmarkView -->
            <td width="25%"><label id="showName"><%- name %></label><input id="editName" value="<%- name %>"></td>
            <td width="25%"><label id="showAddress"><%- address %></label><input id="editAddress" value="<%- address %>"></td>
            <td width="25%"><label id="showTags"><%- tags %></label><input id="editTags" value="<%- tags %>"></td>
            <td>
                <div class="btn-group">
                    <button id="visitPage" class="btn btn-success">Visit page</button>
                    <button id="deleteBookmark" class="btn btn-danger">Delete</button>
                </div>
            </td>